/*
* html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
* Richard Clark (http://richclarkdesign.com)
* http://cssreset.com
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* 1rem ~ 10px */ }

body {
  font-size: 1.3rem;
  line-height: 1.5;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto; }

h1.pic {
  color: transparent;
  font-size: 0;
  text-indent: -9999999px; }

/* if you need a heading without text, create another css with name exactly like this and add background pic */
a {
  text-decoration: none; }
  a:hover, a:active {
    outline: none; }

img {
  max-width: 100%;
  vertical-align: top; }

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0; }

.bg-size-cover {
  background-size: cover; }

/*
 * http://webdesignerwall.com/tutorials/css-elastic-videos
 */
.responsive-video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.responsive-video-container iframe, .r-vc iframe,
.responsive-video-container object, .r-vc object,
.responsive-video-container embed, .r-vc embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.sr-only {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * https://css-tricks.com/redesigning-with-sass/
 */
h1 {
  font-size: 3.2rem;
  line-height: 1.2; }

h2 {
  font-size: 2.4rem;
  line-height: 1.3; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1rem; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

a {
  font-weight: normal;
  outline: 0; }
  a:hover, a:active, a:focus {
    outline: 0; }

select, option {
  outline: 0; }
  select:active, select:hover, option:active, option:hover {
    outline: 0; }

button {
  border: 0;
  cursor: pointer; }

ul, ol {
  list-style-type: none; }

input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=url],
input[type=number],
textarea {
  border: 1px solid #c6dade;
  border-radius: .3rem; }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus,
  input[type=search]:focus,
  input[type=url]:focus,
  input[type=number]:focus,
  textarea:focus {
    box-shadow: 0 0 .3rem #3498db; }

textarea {
  resize: vertical;
  overflow: auto;
  min-height: 10rem;
  font-family: inherit; }

/**
 * Table of Contents:
 *
 * 01.0 - Initiate
 * 02.0 - 
 * 03.0 - 
 * 04.0 - 
 * 05.0 - 
 * 06.0 - 
 * 07.0 - 
 * 08.0 - 
 * 09.0 - 
 * -----------------------------------------------------------------------------
**/
/*/
 * 01.0 Initiate
 * -----------------------------------------------------------------------------
/*/
@font-face {
  font-family: 'fs_joeyheavy';
  src: url("../font/fsjoey-heavy-webfont.eot");
  src: url("../font/fsjoey-heavy-webfont.eot?#iefix") format("embedded-opentype"), url("../font/fsjoey-heavy-webfont.woff2") format("woff2"), url("../font/fsjoey-heavy-webfont.woff") format("woff"), url("../font/fsjoey-heavy-webfont.ttf") format("truetype"), url("../font/fsjoey-heavy-webfont.svg#fs_joeyheavy") format("svg");
  font-weight: bold;
  font-style: normal; }

body {
  font-family: "fs_joeyheavy", sans-serif;
  color: #707070;
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: bold; }

input {
  font-family: "fs_joeyheavy", sans-serif; }

/*/
 * 02.0 
 * -----------------------------------------------------------------------------
/*/
.view-counter-container .odometer {
  font-size: 14rem;
  line-height: 1;
  color: #e7e7e8; }
  .view-counter-container .odometer .odometer-digit {
    background: url(../img/bg-number.png) 0 0/100% 100% no-repeat;
    padding: 0 2rem;
    box-shadow: inset 0 0 0 3px #00d2a0;
    position: relative; }
    .view-counter-container .odometer .odometer-digit:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(7, 30, 105, 0.9) 0%, transparent 40%);
      z-index: 10; }
    .view-counter-container .odometer .odometer-digit:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(7, 30, 105, 0.9) 0%, transparent 40%);
      z-index: 10; }
    .view-counter-container .odometer .odometer-digit .odometer-digit-inner {
      left: 2.3rem; }
  .view-counter-container .odometer .odometer-formatting-mark {
    padding: 0 1.5rem;
    vertical-align: text-bottom;
    position: relative;
    bottom: 1.7rem;
    font-size: 12rem; }

/*/
 * 03.0 
 * -----------------------------------------------------------------------------
/*/
.outer-container {
  min-width: 100vw;
  min-height: 100vh; }

.inner-container {
  width: 100vw;
  min-height: 100vh;
  background: url(../img/main-bg.jpg) center center no-repeat;
  text-align: center; }

.main-content-outer {
  padding: 3.8rem 0 3rem; }

.main-content-inner {
  padding: 0 4.5rem 5rem;
  padding-top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block; }

.logo-container {
  text-align: center;
  padding: 3rem 0 3rem;
  border-bottom: 2px solid #fff; }
  .logo-container img {
    max-width: 11rem; }

.tagline {
  text-align: center;
  position: relative;
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%); }
  .tagline h1 {
    font-size: 5.4rem;
    display: inline-block;
    padding: 2rem 6rem;
    background-color: #002dbb;
    border-radius: 1rem;
    color: #fff;
    line-height: 1;
    letter-spacing: 0.025em;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); }
    .tagline h1 span {
      display: inline-block;
      color: #fff200; }

.footnote {
  font-family: 'montserrat';
  color: #fff;
  font-size: 2.8rem;
  font-weight: normal;
  letter-spacing: 0.025em;
  padding-top: 3rem; }
  .footnote a {
    color: #00d2a0; }

.the-content {
  padding-top: 7rem; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

/*
 *
 * 
 * !!! SLICED AND DICED BY @freestyler_rmg !!! KEEP GRINDING OUT THERE !!! CHEERS !!! 
 * 
 *  
 */

/*# sourceMappingURL=maps/main.css.map */
