/**
 * Table of Contents:
 *
 * 01.0 - Initiate
 * 02.0 - 
 * 03.0 - 
 * 04.0 - 
 * 05.0 - 
 * 06.0 - 
 * 07.0 - 
 * 08.0 - 
 * 09.0 - 
 * -----------------------------------------------------------------------------
**/

/*/
 * 01.0 Initiate
 * -----------------------------------------------------------------------------
/*/

@font-face {
    font-family: 'fs_joeyheavy';
    src: url('../font/fsjoey-heavy-webfont.eot');
    src: url('../font/fsjoey-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/fsjoey-heavy-webfont.woff2') format('woff2'),
         url('../font/fsjoey-heavy-webfont.woff') format('woff'),
         url('../font/fsjoey-heavy-webfont.ttf') format('truetype'),
         url('../font/fsjoey-heavy-webfont.svg#fs_joeyheavy') format('svg');
    font-weight: bold;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

$main-font: 'fs_joeyheavy', sans-serif;
$second-font: 'montserrat', sans-serif;

body {
  font-family: $main-font;
  color: #707070;
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: bold;
}

input {
  font-family: $main-font;
}

/*/
 * 02.0 
 * -----------------------------------------------------------------------------
/*/

.view-counter-container {
  .odometer {
    font-size: 14rem;
    line-height: 1;
    color: #e7e7e8;
    .odometer-digit {
      background: url(../img/bg-number.png) 0 0 / 100% 100% no-repeat;
      padding: 0 2rem;
      // border: 3px solid #00d2a0;
      box-shadow: inset 0 0 0 3px #00d2a0;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(7,30,105,0.9) 0%, rgba(0,0,0,0) 40%);
        z-index: 10;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(7,30,105,0.9) 0%, rgba(0,0,0,0) 40%);
        z-index: 10;
      }

      .odometer-digit-inner {
        left: 2.3rem;
      }
    }
    .odometer-formatting-mark {
      padding: 0 1.5rem;
      vertical-align: text-bottom;
      position: relative;
      bottom: 1.7rem;
      font-size: 12rem;
    }

  }
}


/*/
 * 03.0 
 * -----------------------------------------------------------------------------
/*/

.outer-container {
  min-width: 100vw;
  min-height: 100vh;
}

.inner-container {
  width: 100vw;
  min-height: 100vh;
  background: url(../img/main-bg.jpg) center center no-repeat;
  text-align: center;
}

.main-content-outer {
  padding: 3.8rem 0 3rem;
}

.main-content-inner {
  padding: 0 4.5rem 5rem;
  padding-top: 0;
  background-color: rgba(0,0,0,0.1);
  display: inline-block;
}

.logo-container {
  text-align: center;
  padding: 3rem 0 3rem;
  border-bottom: 2px solid #fff;
  img {
    max-width: 11rem;
  }
}


.tagline {
  text-align: center;
  position: relative;
  transform: translateY(-40%);
  h1 {
    font-size: 5.4rem;
    display: inline-block;
    padding: 2rem 6rem;
    background-color: #002dbb;
    border-radius: 1rem;
    color: #fff;
    line-height: 1;
    letter-spacing: 0.025em;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    span {
      display: inline-block;
      color: #fff200;
    }
  }
}

.footnote {
  font-family: 'montserrat';
  color: #fff;
  font-size: 2.8rem;
  font-weight: normal;
  letter-spacing: 0.025em;
  padding-top: 3rem;
  a {
    color: #00d2a0;
  }
}

.the-content {
  padding-top: 7rem;

}